[submodule "themes/roxo-hugo"]
	path = themes/roxo-hugo
	url = git@github.com:StaticMania/roxo-hugo.git
[submodule "themes/alpha-church"]
	path = themes/alpha-church
	url = https://github.com/funkydan2/alpha-church.git
